<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <style>
        body {
            background: lightgrey;
        }
        h1 {
            background-color: orange;
            color: white;
        }
        h2 {
            color: brown;
        }
        p {
            color: brown;
        }
    </style>
    <title>Primeiros passos com CSS</title>
</head>

<body>
    <main>
        <h1 style="background-color: orange; color: white;">Capitulo 1</h1>
        <h2 style="color: brown;">Capitulo 1.1</h2>
        <p style="color: blue;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia deleniti laboriosam numquam quibusdam? Velit
            iure id voluptatibus culpa tempora, recusandae eos officia animi suscipit quidem illo minima inventore
            maiores repudiandae!</p>
        <h2 style="color: brown;">Capitulo 1.2</h2>
        <p style="color: blue;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa neque reiciendis illum obcaecati quod maiores
            dolorum. Dicta quam voluptatem nihil, magnam repudiandae odit eos totam in? Iusto aliquam nemo repudiandae?
        </p>
        <h1>Capitulo 2</h1>
        <h2>Capitulo 2.1</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet quidem voluptatibus officia dolor unde,
            voluptatem aperiam vero tempore maxime veritatis asperiores temporibus repudiandae velit sed quos suscipit
            inventore nostrum! In!</p>
        <h2>Capitulo 2.2</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique quos saepe optio veniam vitae, a quod et
            quasi ratione distinctio ab adipisci, aliquam omnis architecto officia exercitationem culpa blanditiis quis.
        </p>
        <a href="./paginas/pagina2.html" style=" color: blue; display: flex; justify-content: end;">Pagina 2</a>
    </main>
</body>

</html>