<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos do Vimeo</title>
</head>

<body>
    <nav>
        <a href="../index.html">
            <img src="../media/img/home.jpg" alt="home_button" style="max-width: 5rem;">
        </a>
    </nav>
    <h1> Video do Vimeo</h1>
    <hr>
    <a href="../index.html">go back</a>
    <div style="padding:56.25% 0 0 0;position:relative;"><iframe
            src="https://player.vimeo.com/video/1181816618?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;loop=1"
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            style="position:absolute;top:0;left:0;width:70%;height:70%;"
            title="[2] Extreme Difficulty Super Mario World - tentativa... ja perdi as contas, fodase"></iframe></div>
    <script src="https://player.vimeo.com/api/player.js"></script>

</body>

</html>