<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos do Youtube</title>
</head>

<body>
    <nav>
        <a href="../index.html">
            <img src="../media/img/home.jpg" alt="home_button" style="max-width: 5rem;">
        </a>
    </nav>
    <h1> Video do Youtube</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/T22LoJUc3PM?si=TaP-HAicE4a02_ga"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <hr>
    <a href="../index.html">go back</a>
</body>

</html>