<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Cores e Gradientes</title>
</head>
<body>
   <main>
    <h1>Gradiente Mão na massa</h1>
    <h2>Capitulo 1</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore, accusamus? Magni dolores amet qui! Qui officiis suscipit voluptatum ab rerum, alias blanditiis dolorum culpa illo quidem modi a explicabo unde.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, deserunt repudiandae. Quas at natus inventore pariatur aperiam minima soluta nobis vitae eum possimus placeat eaque, nam, earum suscipit dicta quod.
    </p>
    <h2>Capitulo 2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur facere et illo impedit qui dolores, odit sit quidem! Officia nihil saepe excepturi laudantium at maxime mollitia qui ea consectetur illum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus modi, deserunt quis optio placeat atque, expedita alias dolorum sunt ad odit molestias quisquam, velit ex dignissimos minima animi veniam non.
    </p>
   </main> 
</body>
</html>